body {
    background-color: bisque;
    text-align: center;
}

h2,
p {
    display: inline;
}

form {
    background-color: aliceblue;
    margin: 1vh;
}

.hidden {
    display: none;
}

#result {
    background-color: rgb(153, 214, 153);
    width: 50vw;
    margin: auto;
    padding: 1em;
    border-radius: 1.5em;
}

form {
    border-radius: 1.5em;
}